PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=job_scheduler
DB_CONNECTION_LIMIT=15

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=12h

CORS_ORIGIN=http://localhost:5173
